USE [masGO
/****** Object:  Database [team6project]    Script Date: 2019/9/6 下午 01:22:50 ******/
CREATE DATABASE [team6project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'team6project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\team6project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'team6project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\team6project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [team6project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [team6project]
GO
USE [team6project]
GO
/****** Object:  Table [dbo].[member]    Script Date: 2019/9/6 下午 01:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[member](
	[member_id] [int] IDENTITY(1,1) NOT NULL,
	[account] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NULL,
	[idnumber] [nvarchar](50) NULL,
	[sex] [nvarchar](10) NULL,
	[birth] [date] NULL,
	[registeredtime] [datetime] NULL,
	[isactive] [bit] NULL,
	[token] [nvarchar](max) NULL,
 CONSTRAINT [PK_member] PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
